html
  head
    title Empower4Life Signups - Edit Event
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="stylesheet" href="/assets/css/main.css")
  body(class="landing is-preload")
    - var title = 'Edit Event';
    include header
    .outer-main
      main
        section(class="Main-content")
          if errors
            .errors
              ul
              each error in errors
                li #{error.msg}

          form.signup(method="POST" action="/admin/event-edit" enctype="multipart/form-data")
            include event-form.pug

            .center
              button(type='submit' class='button-style button-style2') Update Event
    include footer

    script.
      document.addEventListener('DOMContentLoaded', function() {
        const adoptSignupSelect = document.getElementById('adopt_signup');
        const adoptSettings = document.getElementById('adopt-settings');
        adoptSignupSelect.addEventListener('change', function() {
          if (adoptSignupSelect.checked) {
            adoptSettings.style.display = 'block';
          } else {
            adoptSettings.style.display = 'none';
          }
        });
      });
