footer
  .footer-inner
    .row
      .column
        p
          | Empower4LifeMD
          strong
            br
            | 12037 BelAir Road, Suite B
            br
            | Kingsville 21087
        p
          a(href='tel:4103402540' target='_blank') 410-340-2540
      .column-2
        p(style='white-space:pre-wrap;')
          strong
            | Mailing Address:
            br
          | Postman Plus: 9613C Harford Rd
          br
          | PMB# 162
          br
          | Baltimore, MD 21234
        p
          a(href='mailto:info@empower4lifemd.org' target='_blank') info@empower4lifemd.org
      .column
        h3 Info
        p
          a(href='https://empower4lifemd.org/our-programs') Our Programs
          br
          a(href='https://empower4lifemd.org/board-of-directors') Our Team
          br
          a(href='https://empower4lifemd.org/our-impact') Our Impact
          br
          a(href='/privacy') Privacy Policy
          br
          a(href='/terms') Terms & Conditions
      .column
        h3 Action
        p
          a(href='https://empower4lifemd.org/volunteer-sign-up') Volunteer
          br
          a(href='https://empower4lifemd.org/where-to-find-us') Contact
          br
          a(href='https://empower4lifemd.org/get-involved') Get Involved
      .column.box
        a(href='https://empower4lifemd.z2systems.com/donation.jsp' class='button-style button-style3') Donate
