footer
  .footer-inner
    .footer-grid
      .footer-column.footer-brand
        p.footer-brand-name
          strong Empower4LifeMD
        p.footer-address
          | 12037 BelAir Road, Suite B
          br
          | Kingsville, MD 21087
        p
          a(href='tel:4103402540' target='_blank') 410-340-2540
        p
          a(href='mailto:info@empower4lifemd.org' target='_blank') info@empower4lifemd.org
      .footer-column
        h3 Info
        ul.footer-link-list
          li
            a(href='https://empower4lifemd.org/our-programs') Our Programs
          li
            a(href='https://empower4lifemd.org/board-of-directors') Our Team
          li
            a(href='https://empower4lifemd.org/our-impact') Our Impact
          li
            a(href='/privacy') Privacy Policy
          li
            a(href='/terms') Terms & Conditions
      .footer-column
        h3 Action
        ul.footer-link-list
          li
            a(href='https://empower4lifemd.org/volunteer-sign-up') Volunteer
          li
            a(href='https://empower4lifemd.org/where-to-find-us') Contact
          li
            a(href='https://empower4lifemd.org/get-involved') Get Involved
      .footer-column.footer-cta
        .footer-cta-panel
          p.footer-cta-copy Support Empower4Life programs.
          a(href='https://empower4lifemd.z2systems.com/donation.jsp' class='button-style button-style3') Donate
