| Here's your login code
| Copy and paste the code below to log in to your E4L Signups account:
| #{code2fa}
| The code expires in 15 minutes.
| Or, click the link below to log in directly:
| #{link}
| If you didn't request this code, you can ignore this email.
