html
  head
    title Empower4Life Signups
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="stylesheet" href="/assets/css/main.css")
  body(class="landing is-preload")
    - var title = 'Signup Details';
    include header
    .outer-main
      main
        section(class="Main-content")
          include confirmation.pug
          p
            a(href="/user" class="button-style button-style2") Back to My Signups
    include footer
