html {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

fieldset p,
fieldset ul {
  font-style: italic;
}

fieldset li {
  font-weight: bold;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

.outer-main {
  background-color: #f5f5f5;
}

main {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 35px 50px;
}

@media screen and (max-width: 767px) {
  .responsive-font-size-h1 {
    font-size: 32px;
    letter-spacing: 0px;
  }
}

@media screen and (max-width: 767px) {
  .responsive-font-size-h2 {
    font-size: 28px;
    letter-spacing: 0px;
  }
}

h1,
h2,
h3 {
  text-rendering: optimizeLegibility;
}

h1:first-child /*,
h2:first-child,
h3:first-child */ {
  margin-top: 0;
}

h1:last-child /*,
h2:last-child,
h3:last-child */ {
  margin-bottom: 0;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1em;
  font-family: sofia-pro;
  font-weight: 900;
  font-style: normal;
  font-size: 120px;
  letter-spacing: 0em;
  line-height: 0.75em;
  text-transform: none;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 32px;
    letter-spacing: 0px;
  }
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  font-family: sofia-pro;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  letter-spacing: 0em;
  line-height: 1.2em;
  text-transform: none;
  margin: 0;
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 28px;
    letter-spacing: 0px;
  }
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 1.2em;
  text-transform: none;
  font-family: sofia-pro;
  font-weight: 600;
  font-style: normal;
  font-size: 15.25px;
  letter-spacing: 0.1em;
  line-height: 1.55em;
  text-transform: uppercase;
}

h1 + h1,
h1 + h2,
h1 + h3,
h2 + h1,
h2 + h2,
h2 + h3,
h3 + h1,
h3 + h2,
h3 + h3 {
  margin-top: 15px;
}

h1 {
  color: #4a4a4a;
}

h1 a {
  padding-bottom: 0.05em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(74, 74, 74, 0.3);
  -webkit-transition: border-color 0.15s ease-out, color 0.15s ease-out;
  -moz-transition: border-color 0.15s ease-out, color 0.15s ease-out;
  -ms-transition: border-color 0.15s ease-out, color 0.15s ease-out;
  -o-transition: border-color 0.15s ease-out, color 0.15s ease-out;
  transition: border-color 0.15s ease-out, color 0.15s ease-out;
}

h1 a:hover {
  color: rgba(74, 74, 74, 0.6);
  border-color: rgba(74, 74, 74, 0.15);
}

h2 {
  color: #4a4a4a;
}

h2 a {
  padding-bottom: 0.05em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(74, 74, 74, 0.3);
  -webkit-transition: border-color 0.15s ease-out, color 0.15s ease-out;
  -moz-transition: border-color 0.15s ease-out, color 0.15s ease-out;
  -ms-transition: border-color 0.15s ease-out, color 0.15s ease-out;
  -o-transition: border-color 0.15s ease-out, color 0.15s ease-out;
  transition: border-color 0.15s ease-out, color 0.15s ease-out;
}

h2 a:hover {
  color: rgba(74, 74, 74, 0.6);
  border-color: rgba(74, 74, 74, 0.15);
}

.main h3 {
  color: #ef452e;
}

h3 a {
  padding-bottom: 0.05em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(239, 69, 46, 0.3);
  -webkit-transition: border-color 0.15s ease-out, color 0.15s ease-out;
  -moz-transition: border-color 0.15s ease-out, color 0.15s ease-out;
  -ms-transition: border-color 0.15s ease-out, color 0.15s ease-out;
  -o-transition: border-color 0.15s ease-out, color 0.15s ease-out;
  transition: border-color 0.15s ease-out, color 0.15s ease-out;
}

h3 a:hover {
  color: rgba(239, 69, 46, 0.6);
  border-color: rgba(239, 69, 46, 0.15);
}

@media screen and (max-width: 767px) {
  h1,
  h2,
  h3 {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
}

a {
  color: inherit;
}

a:active,
a:focus {
  outline: 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-bottom: 24px;
}

.signup-table {
  margin-left: auto;
  margin-right: auto;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  min-width: 450px;
  width: 100%;
}

.signup-table td,
.signup-table th {
  border: 1px solid #ddd;
  padding: 8px 4px;
}

.signup-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.signup-table tr:hover {
  background-color: #ddd;
}

.signup-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #65cab5;
  color: white;
}

.signup-table tr {
  text-align: center;
}

.button-style {
  border-radius: 300px;
  padding: 12px 18px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  text-transform: none;
  letter-spacing: 0em;
  color: #fff;
  border-color: #fff;
  background-color: #000;
  border: 2px solid #000;
  text-decoration: none;
}

.button-style:hover {
  background-color: white;
  color: #000;
}

.button-style1 {
  border: 2px solid #782f9a;
  background-color: #782f9a;
}

.button-style1:hover {
  background-color: white;
  color: #782f9a;
}

.button-style2 {
  border: 2px solid #65cab5;
  background-color: #65cab5;
}

.button-style2:hover {
  background-color: white;
  color: #65cab5;
}

.button-style3 {
  border: 2px solid #e37263;
  background-color: #e37262;
  color: white;
}

.button-style3:hover {
  background-color: white;
  color: #e37262;
}

.bottom {
  text-align: center;
  padding: 20 0;
}

input:not([type="submit"]) {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #e37262;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  opacity: 80%;
}

.center {
  text-align: center;
}

.sponsor-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 600;
}

.clear:after {
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  clear: both;
  content: ".";
}

.v6-visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.sqs-g {
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
}

.opera-only :-o-prefocus,
.sqs-g {
  word-spacing: -0.43em;
}

main p {
  margin: 32px;
}

.time {
  font-weight: bold;
}

.spots {
  color: #4a4a4a;
}

.title {
  width: 100%;
  text-align: center;
  flex-grow: 2;
}

/* Style the header with a grey background and some padding */
.header {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Style the header links */
.header a {
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.signup {
  display: flex;
  justify-content: center;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.logo {
  position: relative;
  left: 16px;
  font-size: 25px;
  font-weight: bold;
}

.logo img {
  max-width: 100%;
  max-height: 10vh;
}

.header-right {
  text-align: right;
  align-self: center;
}

.header-right a {
  color: #e37262;
}

/* Change the background color on mouse-over */
.header-right a:hover {
  color: #782f9a;
}

footer {
  padding: 32px 0;
  color: rgba(255, 255, 255, 0.75);
  background-color: #363636;
}

.footer-inner {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 35px 50px;
}

footer a {
  text-decoration: none;
  padding-bottom: 0.05em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.3);
}

footer a:hover {
  color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.15);
}

footer p {
  line-height: 1.8em;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-around;
}

.column {
  flex: 1;
  padding: 16px;
}

.column-2 {
  flex: 2;
  padding: 16px;
}

.column p {
  margin: 0;
}

p.button-p {
  margin: 24;
}

.item li {
  text-align: left;
}

.row img {
  max-width: 100%;
}

.event {
  text-align: center;
}

.event img {
  max-height: 50vh;
  max-width: 100%;
  border: solid #555;
  padding: 8px;
}

.slots {
  font-weight: bold;
}

.event-details h2 {
  text-align: center;
  color: #333;
}

.event-details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.event-details table th,
.event-details table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.event-details table th {
  background-color: #f4f4f4;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.event-details table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.event-details table tbody tr:nth-child(even) {
  background-color: #fff;
}

p .time {
  font-size: 12px;
  font-style: italic;
}

form.signup {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: block;
}

.form-group {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  clear: both;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-center {
  text-align: center;
  margin-top: 20px;
}

/* Error message styling */
.errors {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  color: #721c24;
}

.errors ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.errors li {
  margin-bottom: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

.pagination a,
.pagination span {
  margin: 0 5px;
  padding: 10px 15px;
  text-decoration: none;
  color: #782f9a;
  border: 1px solid #782f9a;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.pagination a:hover {
  background-color: #782f9a;
  color: white;
}

.pagination span {
  background-color: #f8f9fa;
  border-color: #6c757d;
  color: #6c757d;
}

.pagination a[disabled] {
  pointer-events: none;
  color: #6c757d;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.pagination .current-page {
  font-weight: bold;
  background-color: #782f9a;
  color: white;
  border: 1px solid #782f9a;
}

@media (max-width: 600px) {
  .pagination {
    flex-direction: column;
    align-items: stretch;
  }

  .pagination a,
  .pagination span {
    width: 100%;
    text-align: center;
    margin: 5px 0;
  }
}

th.sortable {
  cursor: pointer;
}

th.sortable:after {
  content: "\25b2"; /* Up arrow */
  padding-left: 10px;
}

th.sortable.asc:after {
  content: "\25b2"; /* Up arrow */
}

th.sortable.desc:after {
  content: "\25bc"; /* Down arrow */
}

small a {
  font-size: 12px;
  font-weight: normal;
  color: #65cab5;
  margin-left: 10px;
  text-transform: none;
  border: none;
}

/* Hide the actual checkbox */
input[type="checkbox"].toggle-switch {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

/* Create the toggle appearance using the label */
.toggle-switch-label {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  cursor: pointer;
}

.toggle-switch-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.toggle-switch-label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
}

/* When the checkbox is checked, change the toggle appearance */
input[type="checkbox"].toggle-switch:checked + .toggle-switch-label::before {
  background-color: #4caf50;
}

input[type="checkbox"].toggle-switch:checked + .toggle-switch-label::after {
  transform: translateX(20px);
}

.inactive {
  color: grey;
}

.inactive h2 {
  color: grey;
}

.new-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-event-button {
  margin-left: auto;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 767px) {
  .title {
    padding-left: 32px;
    text-align: left;
  }

  .header-right {
    padding-bottom: 8px;
  }

  main p {
    margin-inline: 0;
  }

  .row {
    flex-direction: column;
  }

  .column {
    width: 100%;
    padding: 4px;
  }
}
